* {
    outline: 0
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial, "Helvetica Neue", Helvetica;
    color: #000;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

progress {
    display: inline-block;
    vertical-align: baseline
}

a {
    color: #555;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: #00b38a
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-weight: 400
}

p {
    margin: 0
}

p+p {
    margin-top: 10px
}

img {
    border: 0;
    vertical-align: top;
    display: inline-block
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #ededed;
    border-radius: 0;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial, "Helvetica Neue", Helvetica
}

textarea {
    overflow: auto
}

label,
select,
button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=radio],
input[type=checkbox],
input[type=file] {
    cursor: pointer
}

input[type=text],
input[type=password],
textarea {
    font-family: "Microsoft Yahei", SimSun, Arial, "Helvetica Neue", Helvetica
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th,
td {
    padding: 0
}

strong {
    font-weight: 400
}

em,
i {
    font-style: normal
}

dl,
dt,
dd {
    margin: 0
}

::selection {
    color: #fff;
    background-color: #00b38a
}

::-moz-selection {
    color: #fff;
    background-color: #00b38a
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

.fl {
    float: left
}

.fr {
    float: right
}

.clearfix {
    *zoom: 1
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.img-ad-txt::after {
    content: 'å¹¿å‘Š';
    position: absolute;
    bottom: 40px;
    font-size: 12px;
    right: 35px;
    padding: 0 2px;
    border-radius: 2px;
    color: #666;
    width: 26px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: rgba(255, 255, 255, .4)
}

@font-face {
    font-family: lagou-www;
    src: url(//www.lgstatic.com/lg-www-fed/common/static/font/lagou-www/fonts/lagou-www_51d67b3.eot?yz50t8);
    src: url(//www.lgstatic.com/lg-www-fed/common/static/font/lagou-www/fonts/lagou-www_51d67b3.eot?yz50t8#iefix) format('embedded-opentype'), url(//www.lgstatic.com/lg-www-fed/common/static/font/lagou-www/fonts/lagou-www_733cdb9.ttf?yz50t8) format('truetype'), url(//www.lgstatic.com/lg-www-fed/common/static/font/lagou-www/fonts/lagou-www_18cdf9b.woff?yz50t8) format('woff'), url(//www.lgstatic.com/lg-www-fed/common/static/font/lagou-www/fonts/lagou-www_c8a28f9.svg?yz50t8#lagou-www) format('svg');
    font-weight: 400;
    font-style: normal
}

[class^=icon-glyph-],
[class*=" icon-glyph-"] {
    font-family: lagou-www !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-glyph-attachment:before {
    content: "\e901"
}

.icon-glyph-attachment2:before {
    content: "\e902"
}

.icon-glyph-attention:before {
    content: "\e903"
}

.icon-glyph-attention2:before {
    content: "\e904"
}

.icon-glyph-question:before {
    content: "\e905"
}

.icon-glyph-smile:before {
    content: "\e906"
}

.icon-glyph-star:before {
    content: "\e907"
}

.icon-glyph-online-resume:before {
    content: "\e908"
}

.icon-glyph-hollow-star:before {
    content: "\e909"
}

.icon-glyph-wechat:before {
    content: "\e90a"
}

.icon-glyph-trend:before {
    content: "\e90b"
}

.icon-glyph-fourSquare:before {
    content: "\e90c"
}

.icon-glyph-home:before {
    content: "\e90d"
}

.icon-glyph-figure:before {
    content: "\e90e"
}

.icon-glyph-valid:before {
    content: "\e90f"
}

.icon-glyph-address:before {
    content: "\e910"
}

.icon-glyph-close2:before {
    content: "\e911"
}

.icon-glyph-close:before {
    content: "\e912"
}

.icon-glyph-doller:before {
    content: "\e913"
}

.icon-glyph-ku:before {
    content: "\e914"
}

.icon-glyph-mina:before {
    content: "\e915"
}

.icon-glyph-like:before {
    content: "\e900"
}

.tag-51 {
    padding: 0 5px;
    background: #dff0ff;
    font-size: 12px;
    color: #2A97FF !important;
    line-height: 18px;
    height: 18px;
    border-radius: 2px;
    font-weight: 700
}

h2,
h3,
h4,
p {
    margin: 0
}

.container {
    width: 1024px;
    margin: 35px auto 0;
    padding-bottom: 80px
}

.basic {
    padding: 50px;
    background: #FAFAFA;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #E3EBE9;
    display: flex
}

.basic .basic-photo {
    height: 88px;
    width: 88px;
    display: inline-block;
    position: relative;
    cursor: pointer
}

.basic .basic-photo img {
    height: 88px;
    width: 88px;
    position: absolute;
    top: 0;
    border-radius: 50%
}

.basic .basic-photo .basic-photo_shadow {
    display: none
}

.basic .basic-photo:hover .basic-photo_shadow {
    display: block
}

.basic .basic-info {
    position: relative;
    width: 100%;
    margin-left: 20px;
    flex: 1
}

.basic .basic-info .edit-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 37px
}

.basic .basic-info .basic-name-area {
    overflow: hidden;
    height: 37px;
    margin-bottom: 11px
}

.basic .basic-info .basic-name {
    float: left;
    max-width: 250px;
    font-size: 26px;
    color: #333;
    font-weight: 600;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.basic .basic-info .icon-sex {
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 16px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-image: url(/resume_static/basic-sprite_fa961f7.png)
}

.basic .basic-info .icon-sex.icon-sex__male {
    background-position: -54px -117px
}

.basic .basic-info .icon-sex.icon-sex__female {
    background-position: -20px -111px
}

.basic .basic-info .basic-self {
    margin-top: 20px
}

.basic .basic-info p {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    margin-top: 6px
}

.basic .basic-info .basic-tel {
    margin-right: 20px
}

.basic .basic-info .basic-tel span {
    vertical-align: middle
}

.basic .basic-info .basic-email span {
    vertical-align: middle
}

.basic .basic-info .basic-tel_icon {
    width: 11px;
    height: 14px;
    margin-right: 5px;
    background: url(/resume_static/basic-sprite_fa961f7.png);
    background-position: -88px -116px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle
}

.basic .basic-info .basic-email_icon {
    width: 14px;
    height: 11px;
    margin-right: 5px;
    background: url(/resume_static/basic-sprite_fa961f7.png);
    background-position: -20px -144px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle
}

.basic .basic-label {
    margin-top: 10px;
    margin-left: 5px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
not all,
not all,
not all,
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .basic .basic-info .icon-sex.icon-sex__male {
        background-size: 64px 128px;
        background-position: -34px -11px
    }

    .basic .basic-info .icon-sex.icon-sex__female {
        background-size: 64px 128px;
        background-position: -10px -11px
    }

    .basic .basic-info .basic-tel_icon {
        background-size: 64px 128px;
        background-position: -34px -34px
    }

    .basic .basic-info .basic-email_icon {
        background-size: 64px 128px;
        background-position: -10px -34px
    }
}

.upload-pop {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    padding: 17px 30px;
    margin-left: -308px;
    width: 300px;
    min-height: 220px;
    background: #fff;
    display: none;
    z-index: 1002;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box
}

.upload-pop h3 {
    font-size: 14px;
    color: #333
}

.upload-pop__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: none;
    z-index: 1002
}

.upload-pop__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 11px;
    height: 11px;
    background: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/simple_myresume_new/img/sprite_cd72b74.png) no-repeat;
    background-position: -134px -168px;
    cursor: pointer
}

.upload-pop__img-area {
    position: relative;
    width: 60px;
    height: 60px;
    float: left;
    background: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/simple_myresume_new/img/sprite_cd72b74.png) no-repeat;
    background-position: -20px -160px;
    margin-bottom: 10px
}

.upload-pop__img-area img {
    position: absolute;
    top: 4px;
    left: 6px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: block
}

.upload-pop__upload-area {
    position: relative;
    width: 77px;
    font-size: 14px;
    color: #00b38a;
    float: right;
    cursor: pointer;
    margin: 10px 0
}

.upload-pop__upload-area:before {
    content: '';
    width: 14px;
    height: 12px;
    background: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/simple_myresume_new/img/sprite_cd72b74.png) no-repeat;
    background-position: -100px -194px;
    display: inline-block;
    vertical-align: middle
}

.upload-pop__upload-area span {
    display: inline-block;
    vertical-align: middle
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
not all,
not all,
not all,
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .upload-pop__img-area {
        background-size: 303px 128px;
        background-position: -10px -10px
    }

    .upload-pop__upload-area:before {
        background-size: 303px 128px;
        background-position: -104px -66px
    }

    .upload-pop__close {
        background-size: 303px 128px;
        background-position: -106px -45px
    }
}

.upload-pop__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.upload-pop__line {
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background: #eee;
    overflow: hidden;
    clear: both
}

.upload-pop__default-area {
    margin-top: 10px
}

.upload-pop__default-area .upload-pop__default:nth-child(1) {
    margin-right: 42px
}

.upload-pop__default-area .upload-pop__default:nth-child(2) {
    margin-right: 42px
}

.upload-pop__default {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    cursor: pointer
}

.upload-pop__default:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all ease .5s
}

.upload-pop__default:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 14px;
    margin-top: -7px;
    margin-left: -9px;
    background: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/simple_myresume_new/img/sprite_cd72b74.png) no-repeat;
    background-position: -216px -20px;
    opacity: 0;
    transition: all ease .5s
}

.upload-pop__default img {
    width: 100%;
    height: 100%;
    display: block
}

.upload-pop__default:hover:before {
    opacity: 1
}

.upload-pop__default:hover:after {
    opacity: 1
}

.per .mr-template_title .need-perfect {
    float: right;
    margin-left: 5px;
    margin-top: 4px
}

.per .tagboard .editor-tool {
    width: 50px
}

.per .per-self_content {
    position: relative;
    /* padding: 5px 0 */
}

.per .per-self_content .per-self_des {
    margin-top: 4px;
    font-size: 14px;
    color: #000;
    line-height: 26px
}

.per .per-self_content .per-self_des p {
    margin-top: 0
}

.per .per-self_content .per-self_des ol {
    list-style-type: decimal;
    -webkit-padding-start: 20px
}

.per .per-self_content .per-self_des ul {
    list-style: disc;
    -webkit-padding-start: 20px
}

.per .per-self_content span {
    color: #999
}

.per .per-self_content .editor-tool {
    bottom: 9px;
    top: auto;
    background: #fff;
    width: 50px
}

.per .per-self_content:hover .editor-tool {
    visibility: visible
}

.per .tagboard:hover .editor-tool {
    visibility: visible
}

.work-exp .need-perfect {
    display: inline-block;
    font-size: 12px;
    width: 46px;
    height: 17px;
    background: #FF967D;
    color: #fff;
    border-radius: 9px;
    line-height: 17px;
    text-align: center;
    vertical-align: text-top;
    margin-left: 5px
}

.work-exp .mr-template_title .work-title {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    position: relative;
    margin-left: 10px
}

.work-exp .mr-template_title .work-title:before {
    content: '';
    display: block;
    border-left: 3px solid #00B38A;
    height: 16px;
    width: 3px;
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%)
}

.work-exp .mr-template_title .need-perfect {
    float: right;
    margin-left: 5px;
    margin-top: 4px
}

.work-exp .work-exp_list {
    position: relative;
    margin-bottom: 20px
}

.work-exp .work-exp_list .exp-list_time {
    font-size: 14px;
    color: #666;
    position: absolute;
    right: 0
}

.work-exp .work-exp_list .exp-list_top {
    display: flex;
    align-items: center
}

.work-exp .work-exp_list .exp-list_top img {
    width: 46px;
    height: 46px;
    margin-right: 10px
}

.work-exp .work-exp_list .exp-list_top .exp-list_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 46px;
    justify-content: space-between
}

.work-exp .work-exp_list .exp-list_top .exp-list_right p,
.work-exp .work-exp_list .exp-list_top .exp-list_right .strong {
    font-size: 14px;
    color: #333
}

.work-exp .work-exp_list .exp-list_top .exp-list_right .strong {
    font-weight: 600;
    display: flex;
    align-items: center
}

.work-exp .work-exp_list .exp-list_top .exp-list_right .strong span {
    max-width: 112px;
    height: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.work-exp .work-exp_list .exp-list_top .exp-list_right .strong span:first-child {
    max-width: 196px
}

.work-exp .work-exp_list .tagboard {
    margin: 20px 0 10px
}

.work-exp .work-exp_list .exp-list_content,
.work-exp .work-exp_list .exp-list_content_highlight {
    font-size: 14px;
    color: #333;
    line-height: 30px
}

.work-exp .work-exp_list .exp-list_content ol,
.work-exp .work-exp_list .exp-list_content_highlight ol {
    list-style-type: decimal;
    -webkit-padding-start: 20px
}

.work-exp .work-exp_list .exp-list_content ul,
.work-exp .work-exp_list .exp-list_content_highlight ul {
    list-style: disc;
    -webkit-padding-start: 20px
}

.work-exp .work-exp_list:hover .editor-tool {
    visibility: visible
}

.pro-exp .need-perfect {
    display: inline-block;
    font-size: 12px;
    width: 46px;
    height: 17px;
    background: #FF967D;
    color: #fff;
    border-radius: 9px;
    line-height: 17px;
    text-align: center;
    vertical-align: text-top;
    margin-left: 5px
}

.pro-exp .mr-template_title .need-perfect {
    float: right;
    margin-left: 5px;
    margin-top: 4px
}

.pro-exp .pro-exp_list {
    position: relative;
    margin-bottom: 20px
}

.pro-exp .pro-exp_list .exp-list_title {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    cursor: default;
    height: 17px;
    line-height: 17px
}

.pro-exp .pro-exp_list .exp-list_title .exp-project_company {
    display: inline-block;
    height: 17px;
    line-height: 17px
}

.pro-exp .pro-exp_list .exp-list_title .exp-project_name,
.pro-exp .pro-exp_list .exp-list_title .exp-project_company span {
    height: 17px;
    line-height: 17px;
    max-width: 127px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.pro-exp .pro-exp_list .exp-list_title .exp-project_name {
    max-width: 210px
}

.pro-exp .pro-exp_list .exp-list_time {
    font-size: 14px;
    color: #666;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    line-height: 17px
}

.pro-exp .pro-exp_list .exp-list_content,
.pro-exp .pro-exp_list .exp-project_des {
    font-size: 14px;
    color: #333;
    line-height: 30px;
    margin-top: 10px
}

.pro-exp .pro-exp_list .exp-list_content ol,
.pro-exp .pro-exp_list .exp-project_des ol {
    list-style-type: decimal;
    -webkit-padding-start: 20px
}

.pro-exp .pro-exp_list .exp-list_content ul,
.pro-exp .pro-exp_list .exp-project_des ul {
    list-style: disc;
    -webkit-padding-start: 20px
}

.pro-exp .pro-exp_list:hover .editor-tool {
    visibility: visible
}

.pro-exp .exp-project_url {
    font-size: 14px;
    color: #666;
    line-height: 30px
}

.edu-exp .edu-exp_list {
    position: relative;
    margin-bottom: 30px
}

.edu-exp .edu-exp_list .exp-list_time {
    font-size: 14px;
    color: #666;
    position: absolute;
    right: 0
}

.edu-exp .edu-exp_list .exp-list_top {
    display: flex;
    align-items: center
}

.edu-exp .edu-exp_list .exp-list_top img {
    width: 46px;
    height: 46px;
    margin-right: 10px
}

.edu-exp .edu-exp_list .exp-list_top .exp-list_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 46px;
    justify-content: space-between
}

.edu-exp .edu-exp_list .exp-list_top .exp-list_right p,
.edu-exp .edu-exp_list .exp-list_top .exp-list_right strong {
    font-size: 14px;
    color: #333;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.edu-exp .edu-exp_list .exp-list_top .exp-list_right strong {
    font-weight: 600;
    max-width: 465px
}

.edu-exp .edu-exp_list .exp-list_top .exp-list_right p {
    max-width: 530px
}

.edu-exp .edu-exp_list:hover .editor-tool {
    visibility: visible
}

.social-page .social-page_list {
    margin-bottom: 30px;
    position: relative
}

.social-page .social-page_list .social-page_content {
    display: flex
}

.social-page .social-page_list .social-page_content img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%
}

.social-page .social-page_list .social-page_content p {
    font-size: 14px;
    color: #666
}

.social-page .social-page_list:hover .editor-tool {
    visibility: visible
}

.portfolio-page .portfolio-group {
    display: flex;
    flex-wrap: wrap
}

.portfolio-page .portfolio-list:hover .portfolio-del {
    visibility: visible
}

.portfolio-page .portfolio-list {
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #e8e9eb;
    margin-right: 9px
}

.portfolio-page .portfolio-list .portfolio-del {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 28px;
    height: 28px;
    background: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/simple_myresume_new/img/del_pic@3x_ea76090.png) no-repeat;
    visibility: hidden;
    background-size: cover;
    z-index: 1
}

.portfolio-page .portfolio-list .portfolio-content {
    overflow: hidden;
    display: block;
    position: relative;
    width: 192px;
    height: 192px
}

.portfolio-page .portfolio-list .portfolio-content p {
    font-size: 14px;
    color: #666
}

.portfolio-page .portfolio-list .portfolio-content .full-picture {
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
    background: #00B38A;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 19px;
    visibility: hidden
}

.portfolio-page .portfolio-list:nth-child(3n) {
    margin-right: 0
}

#galpop-wrapper {
    background-color: #000;
    background-color: rgba(0, 0, 0, .8)
}

#galpop-container {}

#galpop-wrapper.loaded-ajax #galpop-container,
#galpop-wrapper.loaded-iframe #galpop-container {
    width: 70vw;
    height: 70vh;
    padding: 0;
    border-radius: 0
}

#galpop-wrapper.loaded-iframe iframe {
    width: 100%;
    height: 70vh;
    border: 0
}

#galpop-wrapper.loaded-ajax #galpop-content {
    padding: 10px 20px
}

#galpop-ajax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    background-image: url(../../simple_myresume_new/common/images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center
}

#galpop-wrapper.complete #galpop-ajax {
    opacity: 0
}

#galpop-info {
    background-color: #000;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: .8em;
    padding: 10px;
    left: 0;
    bottom: 0
}

#galpop-close {
    top: -30px;
    right: -30px;
    width: 36px;
    height: 36px;
    background-image: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/simple_myresume_new/common/galpop/images/btn-close_695191a.png);
    background-repeat: no-repeat
}

.lock-scroll {
    overflow: hidden !important
}

#galpop-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
    overflow-y: scroll
}

#galpop-container {
    position: relative;
    margin: 120px auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 100%;
    width: 800px;
    -o-transition: width .5s, height .5s;
    -ms-transition: width .5s, height .5s;
    -moz-transition: width .5s, height .5s;
    -webkit-transition: width .5s, height .5s;
    transition: width .5s, height .5s;
    overflow: visible !important
}

#galpop-prev,
#galpop-next {
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
    outline: 0;
    width: 47px;
    height: 92px
}

#galpop-prev {
    background-image: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/simple_myresume_new/common/galpop/images/btn-prev_a939919.png);
    background-position: left center;
    left: -118px;
    top: 130px;
    transform: rotateZ(180deg)
}

#galpop-next {
    background-image: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/simple_myresume_new/common/galpop/images/btn-next_a939919.png);
    background-position: right center;
    right: -119px;
    top: 130px
}

#galpop-modal {
    position: relative
}

#galpop-content {
    display: none;
    margin: auto
}

#galpop-content img {
    vertical-align: top;
    width: 100%
}

#galpop-info {
    position: absolute;
    display: none;
    z-index: 15
}

#galpop-info p {
    margin: 0
}

#galpop-info a {
    color: #fff
}

#galpop-close {
    position: absolute;
    display: block;
    z-index: 10
}

.container {
    margin: 0 auto;
    padding-bottom: 0
}

.clearfixs:before,
.clearfixs:after {
    content: "";
    display: table
}

.clearfixs:after {
    display: block;
    clear: both
}

.clearfixs {
    *zoom: 1
}

.myresume {
    width: 720px;
    margin: 50px auto 54px;
    border: 1px solid #e3ebe9;
    border-radius: 5px
}

.myresume pre {
    white-space: pre-line
}

.mr-template {
    padding: 8px 50px 0px
}

.mr-template .mr-template_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px
}

.mr-template .mr-template_title span {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    position: relative;
    margin-left: 10px
}

.mr-template .mr-template_title span:before {
    content: '';
    display: block;
    border-left: 3px solid #00B38A;
    height: 16px;
    width: 3px;
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%)
}

.mr-template .mr_md_del {
    right: -9px;
    left: unset
}

.mr-template .mr_md_del .mr_tip_div {
    line-height: 50px
}

.mr-template .mr_md_del .mr_tip_des {
    margin: 39px 0 32px
}

.edit-btn {
    display: none
}

.add-btn {
    display: none
}

.tagboard {
    position: relative
}

.tagboard span {
    color: #999
}

.tagboard .tagboard-tag {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    padding: 3px 10px;
    border: 1px solid #EAEDEC;
    border-radius: 100px
}

.mr-template .editor-tool {
    display: none !important
}

#resume_preview_bar {
    width: 100%;
    height: 54px;
    background: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/common/img/overlay_c2e5558.png) repeat;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000
}

#resume_preview_bar .mr_bottom_l .mr_down {
    width: 116px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    background: #fff;
    margin: 12px auto;
    border-radius: 3px
}

#resume_preview_bar .mr_bottom_l .mr_down i {
    float: left;
    margin: 7px 7px 7px 12px;
    width: 21px;
    height: 19px;
    background: url(//www.lgstatic.com/lg-www-fed/mycenter/modules/common/img/mr_down_01e668e.png) -21px no-repeat
}

#resume_preview_bar .mr_bottom_l .mr_down em {
    color: #08aa84;
    float: left
}

#resume_preview_bar .mr_bottom_l .mr_down:hover {
    background: #03a47f;
    cursor: pointer
}

#resume_preview_bar .mr_bottom_l .mr_down:hover i {
    background-position: 0 0
}

#resume_preview_bar .mr_bottom_l .mr_down:hover em {
    color: #fff
}

#resume_preview_bar .mr_bottom_l .mr_down_tip {
    margin-left: -48px;
    left: 50%
}

.mr_down_tip i {
    position: absolute;
    background: 0 0;
    border: 8px solid #e7e7e7;
    border-color: #e7e7e7 transparent transparent;
    display: block;
    font-size: 0;
    height: 0;
    width: 0;
    right: 40px;
    bottom: -16px
}

.mr_down_tip em {
    position: absolute;
    background: 0 0;
    border: 8px solid #e7e7e7;
    border-color: #e7e7e7 transparent transparent;
    display: block;
    font-size: 0;
    height: 0;
    width: 0;
    right: 40px;
    bottom: -15px;
    border-color: #fff transparent transparent
}

.mr_down_tip li {
    height: 38px;
    line-height: 38px
}

.mr_down_tip li a {
    display: block;
    text-align: center
}

.mr_down_tip li.active a {
    background-color: #f4f4f4;
    color: #555
}

.preview_down em {
    right: 40px
}

.mr_bottom_l .mr_down_tip {
    position: absolute;
    width: 96px;
    top: -120px;
    left: 12px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px #efefe4
}

.dn {
    display: none
}

.active-color {
    color: #00B38A
}

#baseInfo.basic .basic-photo:hover .basic-photo_shadow {
    display: none
}

#baseInfo.basic .basic-photo {
    cursor: auto
}

.portfolio-page .portfolio-list:hover .portfolio-del {
    visibility: hidden
}
